<section class="main">
  <app-input [itemQueVaiSerEditado]="itemParaSerEditado"></app-input>

  <div class="container">
    <div class="lista">
      <h4 class="title-list">Lista de Compras</h4>

      <div *ngIf="listaCompras.length; else listaVazia">
        <div *ngFor="let item of listaCompras">
          <app-item
            [item]="item"
            (emitindoItemParaEditar)="editarItem($event)"
          ></app-item>
        </div>
      </div>

      <ng-template #listaVazia>
        <br />
        <p>Nenhum item na lista</p>
      </ng-template>
    </div>
  </div>
</section>
